.largeCircle
{
    width: 20%;
    height: 0;
    padding-bottom: 20%;
    border-radius: 100%;
    background-color: #d630ce;
    position: absolute;

    
}
.smallCircle
{
    width: 5%;
    height: 0;
    padding-bottom: 5%;
    border-radius: 100%;
    
    position: absolute;

}
#first
{
    animation: move 50s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    z-index: 10;
    left: 80%;
}
#second
{
    animation: move2 30s;
    
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
    z-index: 10;
    background-color: #9930d6;
    left: 80%;
}
#third
{
    animation: move2 45s;
    
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
    z-index: 10;
    left: 55%;
    background-color: #36a3eb;
}
#fourth
{
    animation: move3 50s;
    animation-delay: -25s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
    z-index: 10;
    left: 58%;
    background-color: #2ae97a; 
}


@keyframes move{
    0%
    {
        transform: scale(1);
        opacity: 0;        
        top: 50%;
    }
    5%
    {
        opacity: 0.5;
    }
    50%
    {
        opacity: 0.5;
        top: 5%;
    }
    95%
    {
        opacity: 0.5;
    }
    100%
    {
        transform: scale(1);
        opacity: 0;        
        top: 50%;
    }
}

@keyframes move3{
    0%
    {
        transform: scale(1);
        opacity: 0;
        
        top: 55%;
    }
    5%
    {
        opacity: 0.2;
    }
    50%
    {
        opacity: 0.2;
        top: 5%;
    }
    95%
    {
        opacity: 0.2;
    }
    100%
    {
        transform: scale(1);
        opacity: 0;        
        top: 50%;
    }
}

@keyframes move2{
    0%
    {
        transform: scale(1);
        opacity: 0;
        
        top: 80%;
    }
    5%
    {
        opacity: 0.5;
    }
    45%
    {
        opacity: 0.5;
    }
    50%
    {
        opacity: 0;
        top: 5%;
    }
    55%
    {
        opacity: 0.5;
    }
    95%
    {
        opacity: 0.5;
    }
    100%
    {
        transform: scale(1);
        opacity: 0;        
        top: 80%;
    }
}

#hi
{
    animation: appear 2s;
}
#yahaNaamAyega
{
    animation: appear 2s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}
#decoration_remover
{
    animation: appear 1s;
    animation-delay: 2.3s;
    animation-fill-mode: backwards;
}
#dot
{
    animation: dotanimation 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes appear{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes dotanimation{
    20%
    {
        color: #f73b3b;
    }
    40%
    {
        color: #d17d2f;
    }
    60%
    {
        color: #279c2d;
    }
    80%
    {
        color: #278ea8;
    }
    1000%
    {
        color: #000000;
    }
}