html {
    scroll-behavior: smooth;
  }

.firstBanner
{
    position: absolute;
    top: 30%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 94px;
    text-align: center;
    width: 80%;
    z-index: -1;
    
    left: 10%;
}
@media only screen and (orientation: portrait)
{
    .down
    {
        position: absolute;
        top: 200%;
    }
}
.down
{
    
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 94px;
    text-align: center;
    width: 100%;
    
}

#decoration_remover
{
    text-decoration: none;
    color: #b3b3b3;
}
#decoration_remover:active
{
    text-decoration: none;
    color: #b3b3b3;
    background-color: transparent;
}
#decoration_remover::selection
{
    background-color:transparent;
}
.topPart
{
    background-color: #ffffff;
    height: 100%;
    z-index: 1;
}
.rest
{
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0%;
    background-color: #8d7fd6;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.infoBanner
{
    width: 100%;
    text-align: center;
    font-size: 5vh;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin-top: 25px;
}
.parent
{
    display: flex;  
    margin: 20px;
    width: 80%;
    margin-left: 10%;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.child
{
    padding: 20px;
    margin: 10px;   
    width: 100%;
    background-color: #000000;
    flex-grow: 1;
    position: relative;   
    border: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    justify-content: space-between;
    align-content: center;
}
.cardText
{
    font-family: 'Roboto', sans-serif;
    font-size: 3.5vh;
    color: #ffffff;
    z-index: 50;
    flex-grow: 1;
    text-decoration: none;
    text-align: left;
}
.cardImage
{
    width: 100px;
    text-align: right;
}
.child:hover
{
    transition-duration: 0.3s;
    background-color: #272727;
}
.text-encapsulator
{
    width: 100%; 
    height: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    color: white;
    text-decoration: none;
}
@media only screen and (orientation: portrait)
{
    .text-encapsulator
    {
        font-size: 40px;
    }
    .cardImage
    {
        width: 120px;
    }
    .rest
    {
        min-height: 100%;
    }
    .contactme
    {
        height: 7%;
    }
}
.contactme
{
    display: flex;
    width: 100%;
    height: 7.5vh;
    background-color: #ffffff;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}
.icons
{
    flex-grow: 1;
    background-color: #ffffff;

}
