html {
	scroll-behavior: smooth;
}
.firstBanner {
	position: absolute;
	top: 30%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 94px;
	text-align: center;
	width: 80%;
	z-index: -1;

	left: 10%;
}
@media only screen and (orientation: portrait) {
	.down {
		position: absolute;
		top: 200%;
	}
}
.down {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 35px;
	text-align: center;
	width: 100%;
}
#decoration_remover {
	text-decoration: none;
	color: #312b2b;
}
#decoration_remover:active {
	text-decoration: none;
	color: #b3b3b3;
	background-color: transparent;
}
#decoration_remover::selection {
	background-color: transparent;
}
.topPart {
	height: 100%;
	width: 100%;
	z-index: -2;
	background-color: #ffffff;
}

#projectsHeading {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-top: 60px;
	font-size: 45px;
	text-align: center;
	width: 100%;
	color: #292b38;
}

.rest {
	width: 100%;
	min-height: 100%;
	background-color: #b4adea;
	color: white;
	z-index: 1;
	position: absolute;
	top: 100%;
	left: 0%;
	display: flex;
	flex-direction: column;
}
.projects {
	margin-top: 10px;
	margin-bottom: 20px;
	min-height: 100%;
	width: 100%;
	flex-grow: 1;
}

.projectsflex {
	width: 80%;
	margin-left: 10%;
	display: flex;
	column-gap: 20px;
	row-gap: 20px;
	flex-wrap: wrap;
	margin-top: 20px;
	justify-content: center;
}

.projectCard {
	flex-grow: 1;
	min-width: 400px;
	max-width: 500px;
	padding: 20px;
	border-color: #4e5166;
	border-style: solid;
	border-width: 2px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background-color: #4e5166;
	transition-duration: 0.5s;
	transition: box-shadow 0.5s border-color 0.5s;
}

.projectCard:hover {
	border-color: #ffffff;
	transition-duration: 0.5s;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transform: translateX(-10) translateY(-10);
}

.projectHeading {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-top: 20;
	font-size: 30px;
	text-align: center;
	width: 100%;
	color: #ffffff;
	margin-bottom: 10px;
}

.projectIcon {
	height: 200px;
	width: 200px;
	margin-top: 20px;
}

.invert {
	filter: invert(1);
}

.makewhite {
	filter: brightness(0) invert(1);
}

.projectDescription {
	color: #ffffff;
	width: 100%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-top: 10px;
	font-size: 18px;
	text-align: left;
}

.techStack {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	column-gap: 5px;
	row-gap: 10px;
}

.tech {
	color: #ffffff;
	font-family: "Raleway", sans-serif;
	font-size: 12px;
	padding: 10px;
	border-color: #ffffff;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
}

.text-encapsulator {
	width: 100%;
	height: 90%;
	display: flex;
	align-items: center;
	text-align: left;
	color: white;
	text-decoration: none;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.project {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	margin: 20px;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 100%;
}

#curve {
	margin-top: -100px;
}
.buttonarray {
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
}
.btn-text-encapsulator {
	color: white;
	text-decoration: none;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.btn-text-encapsulator:hover {
	transition-duration: 0.3s;
	color: #023047;
	cursor: pointer;
}
@media only screen and (orientation: portrait) {
	.text-encapsulator {
		font-size: 40px;
	}
	.rest {
		min-height: 100%;
	}
}
.icons {
	flex-grow: 1;
	background-color: #ffffff;
}
.nav-text-encapsulator {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	text-align: left;
	color: white;
	text-decoration: none;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.nav-text-encapsulator:hover {
	transition-duration: 0.1s;
	color: rgb(187, 14, 109);
	cursor: pointer;
}

.navBanner {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: #272727;
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	margin: 0;
	z-index: 5;
}
.navItem {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 20px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: rgb(209, 224, 230);
}
.triangle-bottom {
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 15px 0 15px;
	border-color: #000000 transparent transparent transparent;
}
#hi {
	animation: appear 2s;
}
#yahaNaamAyega {
	animation: appear 2s;
	animation-delay: 0.5s;
	animation-fill-mode: backwards;
}
#decoration_remover {
	animation: appear 1s;
	animation-delay: 2.3s;
	animation-fill-mode: backwards;
}
#dot {
	animation: dotanimation 5s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes dotanimation {
	20% {
		color: #f73b3b;
	}
	40% {
		color: #d17d2f;
	}
	60% {
		color: #279c2d;
	}
	80% {
		color: #278ea8;
	}
	1000% {
		color: #000000;
	}
}

.custom-shape-divider-top-1630408685 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-top-1630408685 svg {
	position: relative;
	display: block;
	width: calc(145% + 1.3px);
	height: 87px;
}

.custom-shape-divider-top-1630408685 .shape-fill {
	fill: #ffffff;
}
