html {
    scroll-behavior: smooth;
  }
.firstBanner
{
    position: absolute;
    top: 30%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;;
    font-size: 94px;
    text-align: center;
    width: 80%;
    z-index: -1;
    
    left: 10%;
}
@media only screen and (orientation: portrait)
{
    .down
    {
        position: absolute;
        top: 200%;
    }
}
.down
{
    
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 50px;
    text-align: center;
    width: 100%;
   
    
}
#decoration_remover
{
    text-decoration: none;
    color: #312b2b;
}
#decoration_remover:active
{
    text-decoration: none;
    color: #b3b3b3;
    background-color: transparent;
}
#decoration_remover::selection
{
    background-color:transparent;
}
.topPart
{
    height: 100%;
    width: 100%;
    z-index: -2;
    display: block;
    background-color: #ffffff;
}
.rest
{
    position: absolute;
    top: 100%;
    width: 100%;
    min-height: 100%;
    left: 0%;
    background-color: #219ebc;
    color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.containerCard
{
    position: absolute;
    top: 5%;
    width: 80%;
    min-height: 90%;
    left: 10%;
    background-color: #219ebc;
    color: white;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 58px;
    background: #219ebc;
    box-shadow:  19px 19px 50px #197a91,
             -19px -19px 50px #29c2e7;
}
.text-encapsulator
{
    width: 100%; 
    height: 90%;
    display: flex;
    align-items: center;
    text-align: left;
    color: white;
    text-decoration: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.project
{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}
.projectDeets
{
    flex-grow: 1;
    align-self: start;
    width: 55%;
    min-width: 500px;
    margin-left: 4%;
}
.projectHeading
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 3rem;
}
.projectDesc
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.5rem;
}
.projectButton
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px;
    border-radius: 14px;
    margin-top: 30px;
    background: #219ebc;
    box-shadow:  5px 5px 19px #1a7e96,
                 -5px -5px 19px #28bee2;
}
.dots
{
    display: flex;
}
.dot
{
    font-size: 1 rem;
    color: #023047;
}
.icon
{
    flex-grow: 1;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardImage
{
    max-height: 400px;
    width : 400px;
}
.buttonarray
{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}
.btn-text-encapsulator
{
    color: white;
    text-decoration: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.btn-text-encapsulator:hover
{
    transition-duration: 0.3s;
    color: #023047;
    cursor: pointer;
}
@media only screen and (orientation: portrait)
{
    .text-encapsulator
    {
        font-size: 40px;
    }
    .rest
    {
        min-height: 100%;
    }
    .containerCard
    {
        width: 90%;
        left: 5%;
    }
    .projectDeets
    {
        margin-left: 40px;
        margin-right: 40px;
    }
    .projectHeading
    {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 5rem;
    }
    .projectDesc
    {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 3rem;
    }
    .projectButton
    {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 3rem;
    }
}
.icons
{
    flex-grow: 1;
    background-color: #ffffff;

}
.nav-text-encapsulator
{
    width: 100%; 
    height: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    color: white;
    text-decoration: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.nav-text-encapsulator:hover
{
    transition-duration: 0.1s;
    color: rgb(187, 14, 109);
    cursor: pointer;
}



.navBanner
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #272727;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    margin: 0;
}
.navItem
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(209, 224, 230);
}